.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.jumbotron{
    background-color: #C4D7B2;
}

.other{
    background-color: #F5F0BB;
}

/* Buttons styling */
.Fav {
    background-color: transparent; 
    color: white; 
    border: 2px solid white;
  }
  
  .Fav:hover {
    background-color: #f44336;
    color: white;
    border: 3px solid #f44336;
  }

main{
    background-color: #F5F0BB;
}

footer{
    background-color: #F5F0BB;
}